# Build directories
/build/
/bin/
/out/
/lib/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# VSCode settings
/.vscode/
/.vscode/*

# Temporary and backup files
*.swp
*.swo
*.bak
*.tmp

# Object and binary files
*.o
*.obj
*.a
*.so
*.dll
*.exe
*.out

# Logs and debugging files
*.log
*.dmp
*.stackdump

# SYCL and Compute-Specific Files
*.device
*.fpga
*.aocx
*.pdb
*.ipch

# Dependency-related files
*.mod
*.tlog
*.cache
*.cmake
*.ninja
CMakeUserPresets.json

